<div id="page_head">
	<div class="container">
		<div class="col-md-12">
			<h2>Choose your Genre</h2>

			<ul class="bcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a><span class="sep"><i class="fa fa-angle-right"></i></span></li>
				<li>Genres</li>

			</ul>
		</div>
	</div>
</div>
<div id="albums">
	<div class="section-head text-center">
		<h2>Our Albums</h2>
		<h5>Create Beautiful Albums with the Awesome Musik theme</h5>
	</div>

	<div class="album-list-wrap ">
		<!-- Album Item -->
    <% @genres.each do |genre| %>
		<div class="col-md-3 col-sm-6 album-card-wrap nopadding">
			<div class="album-card">
				<div class="image hoverdir-target">
				<%= image_tag genre.thumbnail.url(:medium) %>
					<div class="overlay" >
						<div class="button-wrapper" >
							<div class="view-button" >
                          <%= link_to genre.title, albums_path(genre: genre.title) do %>
                          <span><strong class="bold"></strong><br>Album</span>
                  <% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    <%end%>
		<%= link_to 'New genre', new_genre_path, class: 'btn btn-default' %>
		<%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
  </div>
