<div id="page_head">
	<div class="container">
		<div class="col-md-12">
			<h2>Make new Album</h2>
			<ul class="bcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a><span class="sep"><i class="fa fa-angle-right"></i></span></li>
				<li>Write The albums</li>
			</ul>
		</div>
	</div>
</div>
    <%= render 'form' %>
	</div>
	</div>
	</div>
